In [2]:
import pandas as pd

In [3]:
data=pd.read_json('data2.json')

In [8]:
data

   medical_number                                             review
0             NaN  \nAfter reading the other reviews left on this...

In [5]:
data

                                              review medical_number
0  [\nAfter reading the other reviews left on thi...       [015009]